* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 150%;
}

/*上半部*/
.navitem {
    display: flex;
    font-size: 55px;
    align-items: center;
}

.white {
    color: white;
}

.orange {
    color: #E97000
}

.container0 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    max-width: none;
    background-color: #DC9756;
}

.container0 .logo {
    color: #432B0F;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin-left: 20px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 55px;
    max-width: none;
    background-color: #F0C994;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

a {
    color: inherit;
    /* 移除超連結顏色 */
    text-decoration: none;
    /* 移除超連結底線 */
}

nav ul {
    list-style: none;
    /* 移除項目符號 */
}

li {
    font-size: 24px;
}

.btn {
    background: #F0C994;
    color: #432B0F;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 0.3em;
    border: none;
}

.btncontainer {
    display: flex;
    flex-direction: row;
}

.usercontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin-right: 30px;
    border: 3px solid #333;
    border-radius: 100%;
}

.signinbtn,
.loginbtn {
    margin-right: 20px;
}

.navlink {
    font-size: 0.4em;
}

.navlink2 {
    font-size: 0.4em;
    color: white;

}

/* 第一層 */
.first p {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.contentArea {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.bitbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
    width: 250px;
    margin-top: 40px;
    border: 1px solid #432B0F;
    border-radius: 15px;
    background-color: #F0C994;
}

.boxtitle {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 150px;
    margin-top: 20px;
}

.contentArea img {
    height: 30px;
    width: 30px;
}

.boxline {
    width: 150px;
    margin-top: 20px;
    color: #432B0F;
}

.boxbtn, .boxbtn2 {
    border: 1px solid #432B0F;
    border-radius: 15px;
    height: 30px;
    width: 150px;
    margin-top: 20px;
    background-color: white;
}

.vline {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.vline hr {
    width: 1000px;
    opacity: 0.5;
}

/* 第二層 */
.second p {
    text-align: center;
    margin-top: 30px;
}

.bitbox2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
    width: 250px;
    margin-top: 40px;
    border: 2px solid #F0C994;
    border-radius: 15px;
}

.bitboxblank {
    height: 150px;
    width: 250px;
    margin-top: 40px;
}

/* 彈跳視窗 */

.card_product_page {
    position: absolute;
    z-index: 9;
    width: 100%;
    height: 851px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_product, .card_set {
    z-index: 99;
    background-color: #FFFFFF;
    width: 600px;
    height: 250px;
}

.fa-square-xmark {
    z-index: 99;
    color: #F0C994;
    margin-top: 10px;
    margin-right: 8px;
    font-size: 30px;
    float: right;
    transition: .1s;
}

/* .fa-square-xmark:hover {
    cursor: pointer;
}

.fa-square-xmark:active {
    transform: scale(0.9);
} */

.cardtitle {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    margin-top: 30px;
}

.cardText {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.cardText p {
    font-size: 16px;
    margin-top: 10px;
    margin-left: 40px;
    letter-spacing: 3px;
    color: #432B0F;
}

.submit {
    border: 1px solid #432B0F;
    border-radius: 15px;
    height: 25px;
    width: 80px;
    background-color: white;
    margin-left: 40px;
    margin-right: auto;
}

.apikey,
.apisecret {
    align-self: center;
    margin-top: 10px;
    width: 520px;
    height: 20px;
    outline: none;
    /* 不要有藍框*/
    border: 2px solid #ced4da;
}

/*下半部*/
.latestlayer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #F0C994;
    height: 320px;
    max-width: auto;
    margin-top: 50px;
    font-family: 'Inter', sans-serif;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 32px;
    width: 200px;
}

.content h3 {
    font-size: 0.7em;
    margin-top: 30px;
    font-weight: 400;
}

.content h4 {
    font-size: 0.5em;
    font-weight: 300;
    margin-top: 20px;
}

.fa-brands {
    margin-top: 25px;
    color: white;
}

.latest {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: auto;
    height: 25px;
    background-color: #EBB670;
}

.latest p {
    font-size: 0.5em;
    opacity: 0.5;
}