/* head */
h1 a {
    margin-left: 55px;
    color: #E2AB76;
}

h1 a:hover {
    color: #E2AB76;
    text-decoration: none;
} 

.btn a {
    font-size: 18px;
    color:  rgba(51, 51, 51, 0.79);
    background-color: #E2AB76;
    padding: 8px 10px;
    border-radius: 3px;
}

/* .btn a:hover {
    Find li a:hover   
} */

li {
    float: left;
}
  
li a {
    display: block;
    color: rgba(51, 51, 51, 0.79);
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}
  
li a:hover, .btn a:hover{
    color: black;
    text-decoration: none;
    background-color: #e0b798bd;
	/* opacity: 0.8; */
    /* background-color: #111; */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0px 0px 0px 30px ;
    overflow: hidden;
    background-color: #E2AB76;
}


#title {
    padding: 10px 0px 10px 0px;
    margin-bottom: 0px;
    background-color: #583814;
}

/* EMOTION_context */

#emotion img {
    height: 430px; 
    margin-top: 20px;
    margin-bottom: 10px;
}

#commendarea {
    background-color: #E4D6C9;
    margin: 50px 60px;
}

.commend{
    /* margin: 10px 0px; */
    padding: 5px 0px;
}

.commend img {
    height: 60px;
}

/* end */

#end {
    background-color: #E0B798;
    padding: 20px 0px;
}

h5 {
    line-height: 48px;
    font-weight: bolder;
}

h6 {
    line-height: 30px;
}

#end a, #end h6 {
    text-decoration: none;
    color: rgba(51, 51, 51, 0.79);
}

#end h6:hover, #end a:hover{
    color: black;
    text-decoration: none;
    font-weight: bold;
	/* opacity: 0.8; */
    /* background-color: #111; */
}

#end img {
    height: 80px;   
    margin-top: -10px;
    margin-bottom: 5px; 
}


@media only screen and (max-width: 992px){
    
    /* head */
    h1 a {font-size: 37px;}
    .btn a {font-size: 17px;}

}


@media only screen and (max-width: 768px){
    
    /* head */
    h1 a {font-size: 35px; margin-left: 45px;}
    .btn a {font-size: 17px;}
    li a {padding: 14px 22px; font-size: 16px;}
    ul {padding: 0px 0px 0px 20px;}

}

@media only screen and (max-width: 576px){

    /* head */
    h1 a {font-size: 33px; margin-left: 27px;}
    .btn a {font-size: 16px;}
    li a {padding: 14px 15px; font-size: 16px;}
    ul {padding: 0px 0px 0px 15px;}
    
}

